.background_blue{
    background: lightblue
}
.typo_red{
    color: red;
}
.typo_green{
    color: green;
}


table{
    border-collapse: collapse;
    text-align: center;
}
caption{
    font-weight: bold;
}
th{
    border: solid, black, 1px;
}
tr{
    border: solid, black, 1px;
    background: beige;
}
td{
    border: solid, black, 1px;
}

/*<form method="POST" action="monProgram.php">
attribut method post
attribut action

<input type="text" name="prenom" placeholder="entrer un prénom">
attribut name, value, placeholder, maxlength, minlength, size, id, required, autofocus, password, number
autre type : email

<label for=prenom">Prénom</label>