@import url(style.css);
main{
    display: flex;
    flex-direction: column;
    margin: 50px 300px;
    gap: 50px;
}
#lancerPartie{
    display: flex;
}
#boutonBattle{
    background-color: #EBCBAD;
    border: solid 1px #8000ff;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    filter: drop-shadow(0 0 3px #8000ff);
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
    cursor: pointer;
}
#boutonBattle:disabled{
    background-color: #EBCBAD50;
    color: rgba(0, 0, 0, 0.50);
    border: solid 1px #8000ff50;
    cursor: default;
    filter: none;
}
#boutonBattle:disabled:hover{
    transform: none;
    transition: none;
}
#boutonBattle:hover{
    transform: scale(120%);
    transition: 0.1s;
}
#showMenuAttaqueJ1, #showMenuAttaqueJ2{
    margin-bottom: 137px;
}
#nomAttaqueJ1, #nomAttaqueJ2{
    background-color: #FBF4EE;
    border: solid 1px #8000ff;
    border-radius: 3px;
    color: black;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: 115px;
    height: 15px;
    margin-top: -1px;
    
}
h4{
    text-align: center;
}