@import url(header_footer.css);
/* composants */
.divJaune{
    background-color: #7a7461;
    border: solid 3px #592E83;
    border-radius: 3px;
    color: white;
    padding: 25px;
}
.boutonJaune{
    background-color: #f4e8c1;
    border: solid 3px #592E83;
    border-radius: 3px;
    font-weight: bold;
}
.boutonJaune:hover{
    transform: scale(120%);
    transition: 0.1s;
}
input{
    width: 200px;
    height: 25px;
    border: solid 1px black;
}

/* flex */
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.spaceBetween{
    justify-content: space-between;
}
