footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgba(0,0,0,0.5);
}
footer> a{
    color: white;
}
footer> a:hover{
    text-decoration: underline;
}