.footer {
    background-color: var(--fg-color);
    padding: 30px 20% 10px 20%;
}

.footer .form {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.footer .form .form-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.footer .title {
    text-align: start;
    color: var(--main-color);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-input {
    box-sizing: border-box;
    border: none;
    padding: 10px;
    width: 100%;
    font-family: var(--main-font);
}

.form-button {
    font-weight: bold;
    border: none;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .footer {
        padding: 30px 10% 10px 10%;
    }

    .footer .form {
        flex-direction: column;
    }
}
