#resultContainer {
    display: none;
}

.kanit{
    font-family: var(--police-texte);
}

.padding2{
    padding: 2% 2%;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}


.spaceBetween{
    justify-content: space-between;
}
.justifyCenter{
    justify-content: center;
}
.textCenter{
    text-align: center;
}
.alignCenter{
    align-items: center;
}
.alignSelf{
    align-self: center;
}


.gap15{
    gap: 15px;
}
.gap20{
    gap: 20px;
}
.gap25{
    gap: 20px;
}


.radius10{
    border-radius: 10px;
}
.radius5{
    border-radius: 5px;
    border: 0px;
}
.leftRadius{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}


.yellow{
    background-color: var(--jaune);
}

.dropShadow{
    box-shadow: var(--shadow);
}


.textWhite{
    color: white;
}
.text25{
    font-size: 25px;
}
.text35{
    font-size: 35px;
}
.text50{
    font-size: 50px;
}

.relative50{
    position:relative;
    bottom: 50px;
}
.relative-50{
    position:relative;
    bottom: -50px;
}
.relativeLeft{
    position: relative;
    left: 215px;
}


.mainQuiz{
    margin: 5% 15%
    
}
.mainQuestion{
    background-color: var(--gris-clair);
    text-align: center;
    padding: 2% 2%
}
.divQuestion1On10{
    width: 20%;
    height:60px;
}
.divQuestion{
    width: 70%;
    margin-bottom: 80px;
}
.divImgQuiz{
    border: solid 3px var(--jaune);
    width: 55%;
    height: 300px;
}
.divAnswerButton{
    width: 45%;
}
.answerButton{
    height: 60px;
    background-color: var(--jaune);
    width: 100%;
    cursor: pointer;
    padding-right: 5px;
    transition: 0.3s;
}
.answerButton:hover{
    background-color: var(--jaune-hover);
}
.answerButtonSelected{
    height: 60px;
    background-color: var(--jaune-selected);
    width: 100%;
    cursor: pointer;
    padding-right: 5px;
    transition: 0.3s;
}
.violetCircle{
    background-color: var(--violet);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#answerButton:disabled{
    background-color: #f9d80550;
    cursor:default;
    color: #46178F50;
}
.divSuivantButton{
    height: 60px;
}
.emptyDivSuivantButton{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.suivantButton{
    max-width: 140px;
}
.paddingSuivant{
    padding-left: 5px;
}
#suivant:disabled{
    background-color: #f9d80550;
    cursor:default;
    color: #46178F50;
}
.goAnswer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.goAnswerButton{
    width: 50%;
}
.rightAnswer{
    height: 60px;
    background-color: var(--green);
    width: 100%;
    cursor: default;
    padding-right: 5px;
    transition: 0.3s;
}
.rightAnswer:hover{
    height: 60px;
    background-color: var(--green);
    width: 100%;
    cursor: default;
    padding-right: 5px;
    transition: 0.3s;
}
.wrongAnswer{
    height: 60px;
    background-color: var(--red);
    width: 100%;
    cursor: default;
    padding-right: 5px;
    transition: 0.3s;
}
.wrongAnswer:hover{
    height: 60px;
    background-color: var(--red);
    width: 100%;
    cursor: default;
    padding-right: 5px;
    transition: 0.3s;
}